### My default ###
.DS_Store
!README.*
.history

# Vi/Vim backup files
*~
*.swp
*.swo

# Emacs backup files
*~
*#
.#*






































































































































































































































