[user]
	name = Ryota Kimura
	email = 128337097+kmraven@users.noreply.github.com
[color]
	ui = true
[http]
	sslverify = false
[push]
	default = simple
[core]
	excludesfile = {$HOME}/.gitignore
[alias]
	lgb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
	ch = checkout
	st = status
	com = commit -am
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
